.aboutus {
  background-color: #fbf4f3;
  position: relative;
  height: auto;
  width: 100%;
}
.aboutustitle {
  text-align: left;
  padding-left: 5%;
  width: 45%;

  color: #b0463d;
  font-size: 3.9rem;
  font-family: 'Kanit', sans-serif;
  margin-top: 1%;
  border-color: #b0463d;
  border-style: solid;
  border-right: 2px;
  border-top: 2px;

  margin-left: 10%;
  margin-bottom: 5%;
}
.uzma-img {
  margin-left: 10%;
  padding-bottom: 5%;
  margin-top: 2%;
  width: 25%;
  display: flex;
  float: left;
}
.sign-img {
  margin-left: 6%;
  margin-right: 26%;
  padding-bottom: 5%;
  margin-top: 10%;
  width: 27%;
  float: right;
}

.textabout {
  text-align: justify;
  color: #b0463d;
  font-size: 1.3rem;
  /* margin-top: 2%; */
  margin-right: 5%;
  margin-left: 10%;
  font-family: 'Jost', sans-serif;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2%;
  margin-bottom: 5%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.2rem;
  width:85%;
  margin-left: 10%;
  /* margin:40px auto; */
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
  /* padding-left: 5%; */
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

#womancook {
  display: block;
  position: relative;
  margin-top: autos;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 10px;
  width: 70%;
}

#womancook1 {
  display: block;
  position: relative;
  margin-top: autos;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 10px;
  width: 90%;
}


@media (max-width:629px) {
  img#womancook1 {
    display: none;
  }
}