@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* ------ Feedback ------- */

.feedback-title {
  text-align: center;
  font-size: 4rem;
  color: #626e60;
  font-family: "Montserrat", sans-serif;
  margin-top: 2rem;
}

.feedback-form {
  background-color: #dac4c4;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
  width: 72rem;
}

input{

  float: left;
  padding: .5rem;
  font-size: 16px;
  width: 31rem;
  display: block;
  border-radius: 4px;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  margin-left: 4.5%;
  margin-top: 1%;




}

input:focus {
border-color: #007eff;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  0 0 0 3px rgba(0, 126, 255, 0.1);
outline: none;
}


.message-area {
  /* margin-left: 3rem;
  margin-top: 1rem;
  margin-right: 3rem;
  height: 10rem;
  width: 66rem;
  border-radius: 0.75rem;
  box-sizing: border-box; */
  float: left;
  padding: .5rem;
  font-size: 16px;
  height: 10rem;
  width: 66rem;
  display: block;
  border-radius: 0.75rem;
  box-sizing: border-box; 
  border: 1px solid #ccc;
  margin-left: 4.3%;
  margin-top: 1%;
}

.subject-title,
.message-title {
  color: #955f61;
  font-family: "Montserrat", sans-serif;
  padding-top: 1rem;
}

input[name="subject"] {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-right: 3rem;
  height: 2.75rem;
  width: 66rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

input[name="rating"] {
  display: none;
}

.stars {
  margin-left: 2.5rem;
}
